.swiper-container {
    max-width: 50%;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Зробити слайди круглими */
    transition: transform 0.3s, filter 0.3s;
}

.swiper-slide-active {
    transform: scale(1.2);
    filter: saturate(1.5);
}

.swiper-slide-next,
.swiper-slide-prev {
    transform: scale(0.8);
    filter: saturate(0.5);
}
