body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 300ms;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-faders {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 1500ms;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .card-faders {
    opacity: 1;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: scale(1.2);
    z-index: 0;
}

.card:hover::before {
    opacity: 1;
    transform: scale(1);
}
