.page-laser-to-text {
    position: relative;
    overflow: hidden;
}

canvas {
    display: block;
}

input {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    display: block;
    outline: none;
    background-color: rgba(38, 50, 56, 0.2);
    color: #ffffff;
    border: none;
    width: 50%;
    min-width: 500px;
    max-width: 100%;
    margin: auto;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    padding: 0 20px;
}

input:hover,
input:focus {
    border: 1px solid rgba(38, 50, 56, 0.6);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.1);
}
