.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img {
    transition: transform 0.3s;
    border: 2px solid #000; /* Додаємо обведення */
    border-radius: 15px; /* Заокруглюємо кути */
}

.img:hover {
    transform: scale(1.4);
}
