body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.btns {
    text-align: center;
}

.btns a {
    letter-spacing: 4px;
    transition: 0.5s;
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    margin: 30px;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ff4500; /* Tomato color */
    text-shadow: 0 0 10px #ff4500, 0 0 20px #ff4500, 0 0 30px #ff4500, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500, 0 0 70px #ff4500;
}

.btns a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 69, 0, 0.2); /* Semi-transparent tomato color */
    z-index: -1;
    filter: blur(20px);
    transition: 0.5s;
}

.btns a:hover::before {
    filter: blur(40px);
}

.btns a:hover {
    text-shadow: 0 0 10px #ff4500, 0 0 20px #ff4500, 0 0 30px #ff4500, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500, 0 0 70px #ff4500, 0 0 80px #ff4500;
}
