input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#lamp {
    display: block;
    height: 40vmin;
    width: 20vmin;
    background-image: url('745.png'); /* Замініть на шлях до вашого зображення лампи */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
}

body.light-on {
    background-color: white;
}

body.light-off {
    background-color: black;
}
